﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de Mesa</title>
</head>
<body>
    <h1>Cadastro de Mesa</h1>

    <form action="/mesa/inserir" method="post">
        <label>Número da Mesa:</label>
        <br />
        <input type="text" name="numero" />
        <button>Gravar</button>
    </form>

    <a href="/mesa/listar">Listar Mesas</a>
</body>
</html>
