﻿@{
    string mensagem = ViewBag.Mensagem;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Notificação</title>
</head>
<body>
    <h3>@mensagem</h3>

    <a href="/mesa/listar">Listar Mesas</a>
</body>
</html>